<div class="row">

  <div class="col-sm-6" *ngIf="SelectedStudent">
    <div class="row">
      <div class="mr-auto">
        <app-titulo [titulo]="'Cod.Aluno: '+ SelectedStudent.id.toString()"></app-titulo>
      </div>
      <div class="mt-1">
        <button class="btn btn-sm btn-outline-danger" (click)="clearStudent()">Fechar</button>
      </div>
    </div>
    <form [formGroup]="AlunoForm" (submit)="alunoSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" 
        class="form-control" 
        aria-describedby="emailHelp" 
        placeholder="Seu primeiro nome"
        formControlName="name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Sobrenome</label>
        <input type="text" 
        class="form-control" 
        aria-describedby="emailHelp" 
        placeholder="Seu sobrenome nome"
        formControlName="sobrenome">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Telefone</label>
        <input type="number" 
        class="form-control" 
        aria-describedby="celHelp"
        formControlName="telefone">
        <small id="celHelp" class="form-text text-muted">Ex : (99) 99999-9999</small>
      </div>
      <div class="form-group">
        <button class="btn btn-success" [disabled]="!AlunoForm.valid">Enviar</button>
      </div>
    </form>
  </div>
  
  <div [ngClass]="{'col-sm-12':!SelectedStudent,'col-sm-6':SelectedStudent}">
    <app-titulo [titulo]="titulo"></app-titulo>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Visualizar</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos">
          <td><button class="text-dark btn btn-sm btn-outline-warning"(click)="selectStudent(aluno)">Detalhes</button></td>
          <td scope="row">{{aluno.id}}</td>
          <td>{{aluno.name}}</td>
          <td>{{aluno.sobrenome}}</td>
          <td>{{aluno.telefone}}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-sm btn-outline-primary" (click)="openModal(template)">Professores</button>
              <button class="btn btn-sm btn-outline-danger">Desativar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 
<ng-template #template>
  <div class="modal-body">
    <app-professores></app-professores>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef.hide()">
      Fechar
    </button>
  </div>
</ng-template>

