<div class="row">

  <div class="col-sm-6" *ngIf="SelectedTeacher">
    <div class="row">
    <div class="mr-auto">
      <app-titulo [titulo]="'Cod.Professor: ' + SelectedTeacher.id.toString()"></app-titulo>
    </div>
    <div class="mt-1">
      <button class="btn btn-outline-danger" (click)="clearTeacher()">Fechar</button>
    </div>
    </div>
  <form [formGroup]="TeacherForm" (submit)="teacherSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="text" 
      class="form-control" 
      aria-describedby="emailHelp" 
      placeholder="Seu primeiro nome"
      formControlName="nome">
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputEmail1">Disciplina</label>
      <input type="text" 
      class="form-control" 
      aria-describedby="celHelp" 
      placeholder="Disciplina que leciona"
      formControlName="disciplina">
    </div> -->
    <div class="form-group">
    <button type="submit" class="btn btn-success" [disabled]="!TeacherForm.valid">Enviar</button>
    </div>
  </form>
</div>

<div [ngClass]="{'col-sm-12':!SelectedTeacher, 'col-sm-6':SelectedTeacher}">
  <app-titulo [titulo]="titulo"></app-titulo>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Visualizar</th>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let professor of professores" style="cursor: pointer;" >
        <td><button class="text-dark btn btn-sm btn-outline-warning" (click)="selectTeacher(professor)">Detalhes</button></td>
        <td scope="row">{{professor.id}}</td>
        <td>{{professor.nome}}</td>
        <td>{{professor.disciplina}}</td>
        <td>
          <div class="btngroup">
            <button class="btn btn-sm btn-outline-primary" (click)="openModal(template)">Alunos</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
 
<ng-template #template>
  <div class="modal-body">
    This is a modal.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef.hide()">Fechar</button>
  </div>
</ng-template>