<div *ngIf="SelectedTeacher">
  <div class="row">
    <div class="mr-auto">
      <app-titulo [titulo]="'Professor: ' + SelectedTeacher.id"></app-titulo>
    </div>
    <div class="mt-1">
      <button class="btn btn-warning" (click)="clearTeacher()">Lista Professores</button>
    </div>
  </div>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="text" 
      class="form-control" 
      aria-describedby="emailHelp" 
      placeholder="Seu primeiro nome"
      value="{{SelectedTeacher.nome}}">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Disciplina</label>
      <input type="text" 
      class="form-control" 
      aria-describedby="celHelp" 
      placeholder="Disciplina que leciona"
      value="{{SelectedTeacher.materia}}">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

<div *ngIf="!SelectedTeacher">
  <app-titulo [titulo]="titulo"></app-titulo>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers" style="cursor: pointer;" (click)="selectTeacher(teacher)">
        <th scope="row">{{teacher.id}}</th>
        <td>{{teacher.nome}}</td>
        <td>{{teacher.materia}}</td>
      </tr>
    </tbody>
  </table>

</div>