<div class="row">

  <div class="col-sm-6" *ngIf="SelectedTeacher">
    <div class="row">
    <div class="mr-auto">
      <app-titulo [titulo]="'Cod.Professor: ' + SelectedTeacher.id"></app-titulo>
    </div>
    <div class="mt-1">
      <button class="btn btn-outline-danger" (click)="clearTeacher()">Fechar</button>
    </div>
    </div>
  <form [formGroup]="TeacherForm" (submit)="teacherSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="text" 
      class="form-control" 
      aria-describedby="emailHelp" 
      placeholder="Seu primeiro nome"
      formControlName="nome">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Disciplina</label>
      <input type="text" 
      class="form-control" 
      aria-describedby="celHelp" 
      placeholder="Disciplina que leciona"
      formControlName="materia">
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="!TeacherForm.valid">Enviar</button>
    </div>
  </form>
</div>

<div [ngClass]="{'col-sm-12':!SelectedTeacher, 'col-sm-6':SelectedTeacher}">
  <app-titulo [titulo]="titulo"></app-titulo>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers" style="cursor: pointer;" (click)="selectTeacher(teacher)">
        <th scope="row">{{teacher.id}}</th>
        <td>{{teacher.nome}}</td>
        <td>{{teacher.materia}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>