

<div *ngIf="SelectedTeacher">
  <app-titulo [titulo]="'Professor: ' + SelectedTeacher"></app-titulo>
  <button class="btn btn-default" (click)="clearTeacher()">Voltar</button>
</div>

<div *ngIf="!SelectedTeacher">
  <app-titulo [titulo]="titulo"></app-titulo>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers" 
      style="cursor: pointer;" (click)="selectTeacher(teacher)">
        <th scope="row">{{teacher.id}}</th>
        <td>{{teacher.name}}</td>
        <td>{{teacher.materia}}</td>
      </tr>
    </tbody>
  </table>
  
</div>

